:host {
    text-align: center;
}

h2 {
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    font-size: 2.828em;

    font-family: 'Fira Mono', monospace;
    display: block;
    color: app-color(gray, dark);
    margin: 0;
}

p {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    font-size: 1.25em;
    margin: 1em;
}

code {
    padding: 2px 6px;
    margin: 0 4px;
    border-radius: 4px;
    color: app-color(gray, dark);
    background-color: app-color(gray, light);
}