h2 {
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    font-size: 2.828em;

    font-family: 'Fira Code', monospace;
    display: block;
    color: app-color(gray, dark);
    margin: 0;
}

p {
    margin: 1em;
}