@function app-color($name, $mod: null) {
  $var: unquote("--c-#{$name}");
  @if ($mod) {
    $var: unquote("#{$var}-#{$mod}");
  }
  @return unquote("var(#{$var})");
}
@function app-shadow($level: 0) {
  @return unquote("var(--shadow-#{$level})");
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin container {
  width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(sm) {
    max-width: 744px;
  }
  @include breakpoint(lg) {
    max-width: 1080px;
  }
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
